.gcloudignore
.git
.gitignore
/node_modules/
/coverage/
/.idea/
*~
\*.patch
Makefile
^README\..*
\.gitignore
^\.git$
^grunt\.js
^src$
^e2e$
\.editorconfig
^karma\.config\.js
^package\.json
^protractor\.conf\.js
^(.*/)?.patch$
^(.*/)?#.*#$
^(.*/)?.*\.py[co]$
^(.*/)?.*/RCS/.*$
^(.*/)?\..*$

