<div class="content-panel">
  <h2 class="page-title-label">Login</h2>

  @if (loginInfo) {
    <div class="status-panel">
      @if (loginInfo.nickname) {
        <a class="user-name" [routerLink]="['/user']">{{loginInfo.nickname}}</a>
      }
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      @if (!(loginInfo.nickname)) {
        <div class="login-panel">
          <a href="{{googleLoginUrl}}" class="button button-google"><i class="fa fa-google"></i>&nbsp; Sign In With Google</a>
          <a href="{{gitHubLoginUrl}}" class="button button-github"><i class="fa fa-github"></i>&nbsp; Sign In With GitHub</a>
          <a href="{{facebookLoginUrl}}" class="button button-facebook"><i class="fa fa-facebook"></i>&nbsp; Sign In With Facebook</a>
        </div>
      }
    </div>
    @if (loginFailed) {
      <p>
        <!-- This actually comes from the /api/user-status GET,
        after the failed login, but it can still be a useful hint. -->
        Login Failed: {{loginInfo.errorMessage}}
      </p>
    }
  }
</div>
