<div class="content-panel">
  <h2 class="page-title-label">Login</h2>

  <ng-container *ngIf="loginInfo">
    <div class="status-panel">
      <a *ngIf="loginInfo.nickname" class="user-name" [routerLink]="['/user']">{{loginInfo.nickname}}</a>

      <div *ngIf="!(loginInfo.nickname)" class="login-panel">
        <!-- TODO: Don't hard-code the URLs." -->
        <a href="http://betaapi.bigoquiz.com/login/login?redirect=http://beta.bigoquiz.com/user">Sign In With Google</a>
      </div>
    </div>

    <p *ngIf="loginFailed">
      <!-- This actually comes from the /api/user-status GET,
           after the failed login, but it can still be a useful hint. -->
      Login Failed: {{loginInfo.errorMessage}}
    </p>
  </ng-container>
</div>
