@if (qa) {
  <div
    class="quiz-question-answer">
    <p>
      <span class="quiz-question-title">Question:</span>
      @let question = qa.question;
      @if (question.link) {
        @if (question.text.isHtml) {
          <a class="quiz-question" href={{question.link}} [innerHTML]="question.text.text"></a>
        } @else {
          <a class="quiz-question" href={{question.link}}>{{ question.text.text }}</a>
        }
      }

      @if (!(question.link)) {
        @if (question.text.isHtml) {
          <span class="quiz-question" [innerHTML]="question.text.text"></span>
        } @else {
          <span class="quiz-question">{{ question.text.text }}</span>
        }
      }
    </p>
    <p>
      <span class="quiz-answer-title">Answer:</span>
      @let answer = qa.answer;
      @if (answer.isHtml) {
        <span class="quiz-answer" [innerHTML]="answer.text"></span>
      } @else {
        <span class="quiz-answer">{{ answer.text }}</span>
      }
    </p>
  </div>
}
