/* TODO: Make this not apply to a h2 inside sub-divs? */
.quiz-panel h2:first-child {
    margin-top: 0;
}

.quiz-panel h3:first-child {
    margin-top: 0;
}

.quiz-panel h4:first-child {
    margin-top: 0;
}

.quiz-section {

}

.quiz-section h3 a:link {
    color: #0066cc;
}

.quiz-section h3 a:visited {
    color: #0066cc;
}

.quiz-question-answer {
    margin-bottom: 1em;
}

.quiz-question-answer  p {
    margin-top: 0;
    margin-bottom: 0.3em;
}

.quiz-question-title {
    font-weight: bold;
    margin-right: 0.5em; /* TODO: RTL */
}

.quiz-question p {
    margin-bottom: 0;
}

.quiz-answer-title {
    font-weight: bold;
    margin-right: 0.5em; /* TODO: RTL */
}

.quiz-note-title {
    font-weight: bold;
    font-size: 80%;
    margin-right: 0.5em; /* TODO: RTL */
}

.quiz-answer p {
    margin-bottom: 0;
}

.quiz-note {
    font-size: 80%;
}

.quiz-button-answer-questions {
    /* Generic button style: */
    margin: 0;
    padding: 5px 7px;
    text-decoration: none;

    background: #B6B2DD;
    color: #2F4550;
    font-family: 'Lato', sans-serif;
    margin-bottom: 1em;
}

a.quiz-button-answer-questions:visited {
    color: #2F4550;
}

a.quiz-button-answer-questions:link {
    color: #2F4550;
}
