.quiz-list-row-buttons-panel {
    float: right;
}

.quiz-list-row .button-answer-questions {
    float: right;
    margin-bottom: 1em;
}

.quiz-list-row .button-history {
    float: right;
    margin-bottom: 1em;
}
