.quiz-list-row-buttons-panel {
    float: right;
}

.quiz-list-row .button-answer-questions {
    float: right;
    margin-bottom: 1em;
}

.quiz-list-row .button-history {
    float: right;
    margin-bottom: 1em;
}

.quiz-list-button-answer-questions {
    /* Generic button style: */
    margin: 0;
    padding: 5px 7px;
    text-decoration: none;

    background: #B6B2DD;
    color: #2F4550;
    font-family: 'Lato', sans-serif;
    margin-bottom: 1em;
}

a.quiz-list-button-answer-questions:visited {
    color: #2F4550;
}

a.quiz-list-button-answer-questions:link {
    color: #2F4550;
}

