<div class="content-panel">
  <h2 class="page-title-label">Quiz</h2>

  <app-server-status [state]="serverState">
  </app-server-status>

  @if (quiz) {
    <div class="quiz-panel">
      <h2 class="page-secondary-title-label">{{quiz.title}}</h2>
      <p>
        <a class="quiz-button-answer-questions" [routerLink]="['/question']" [queryParams]="{'quiz-id': quiz.id}">Answer Questions</a>
      </p>
      @for (section of quiz.sections; track section) {
        <div
          class="quiz-section">
          @if (section.link) {
            <h3><a href={{section.link}}>{{section.title}}</a></h3>
          }
          @if (!section.link) {
            <h3>{{section.title}}</h3>
          }
          @for (subSection of section.subSections; track subSection) {
            <div
              class="quiz-sub-section">
              <h4>{{subSection.title}}</h4>
              <!-- Questions in the sub-section. -->
              @for (qa of subSection.questions; track qa) {
                <app-quiz-question-and-answer [qa]="qa"></app-quiz-question-and-answer>
              }
            </div>
          }
          <!-- Questions in the section, not in any sub-section. -->
          @for (qa of section.questions; track qa) {
            <app-quiz-question-and-answer [qa]="qa"></app-quiz-question-and-answer>
          }
        </div>
      }
    </div>
  }
</div>

<div class="sidebar-panel-sections">
  <app-user-history-sections></app-user-history-sections>
</div>
