@if (qa) {
  <div
    class="quiz-question-answer">
    <p>
      <span class="quiz-question-title">Question:</span>
      @if (qa.question.link) {
        @if (qa.question.text.isHtml) {
          <a class="quiz-question" href={{qa.question.link}} [innerHTML]="qa.question.text.text"></a>
        } @else {
          <a class="quiz-question" href={{qa.question.link}}>{{ qa.question.text.text }}</a>
        }
      }
      @if (!(qa.question.link)) {
        @if (qa.question.text.isHtml) {
          <span class="quiz-question" [innerHTML]="qa.question.text.text"></span>
        } @else {
          <span class="quiz-question">{{ qa.question.text.text }}</span>
        }
      }
    </p>
    <p>
      <span class="quiz-answer-title">Answer:</span>
      @if (qa.answer.isHtml) {
        <span class="quiz-answer" [innerHTML]="qa.answer.text"></span>
      } @else {
        <span class="quiz-answer">{{ qa.answer.text }}</span>
      }
    </p>
  </div>
}
