<div class="user-status-panel">
  @if (loginInfo) {
    <div class="status-panel">
      @if (loginInfo.nickname) {
        <a class="user-name" [routerLink]="['/user']">{{loginInfo.nickname}}</a>
      }
      @if (!(loginInfo.nickname)) {
        <div class="login-panel">
          <a [routerLink]="['/login']">Sign In</a>
        </div>
      }
    </div>
    @if (showExtras && loginInfo.nickname) {
      <div>
        <p><a href="{{logoutUrl}}">Log Out</a></p>
        <h3>Connected Accounts</h3>
        <p>You may sign into Big-O Quiz using any connected account.</p>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <p><i class="fa fa-google"></i>&nbsp; Google Account:
        @if (loginInfo.googleLinked) {
          <a href="{{loginInfo.googleProfileUrl}}">Connected</a>
        }
        @if (!loginInfo.googleLinked) {
          <a href="{{googleLoginUrl}}">Connect</a>
        }
      </p>
      <p><i class="fa fa-github"></i>&nbsp; GitHub Account:
      @if (loginInfo.gitHubLinked) {
        <a href="{{loginInfo.gitHubProfileUrl}}">Connected</a>
      }
      @if (!loginInfo.gitHubLinked) {
        <a href="{{gitHubLoginUrl}}">Connect</a>
      }
    </p>
    <p><i class="fa fa-facebook"></i>&nbsp; Facebook Account:
    @if (loginInfo.facebookLinked) {
      <a href="{{loginInfo.facebookProfileUrl}}">Connected</a>
    }
    @if (!loginInfo.facebookLinked) {
      <a href="{{facebookLoginUrl}}">Connect</a>
    }
  </p>
</div>
}
}
</div>
