.user-status-answers-panel {

}

.user-status-answers-panel h3 {
    font-family: 'Lato', sans-serif;
}

.user-status-answers-panel div.user-quiz-section {
    margin-top: 1.5em;
}

.user-status-answers-panel div.user-quiz-section:first-child {
    margin-top: 0;
}
