.user-status-panel {
    color: #2F4550;
}

.username-label {
    margin-left: 1em;
}

.login-failed {
    font-weight: bold;
}

a.user-name {
  color: #2F4550;
}

a.user-name:visited {
  color: #2F4550;
}
