/** From GWT's clean.css:
 */

body, table td, select, button {
  font-family: Arial Unicode MS, Arial, sans-serif;
  font-size: small;
}

body {
  color: black;
  margin: 10px;
  border: 0px;
  padding: 0px;
  background: #fff;
  direction: ltr;
}

a, a:visited {
  color: #0066cc;
  text-decoration:none;
}

a:hover {
  color: #0066cc;
  text-decoration:underline;
}

/** Application-specific CSS rules. */

/* Slightly-narrow screens:
 *
 * Only show links sidebar on wider screens. */
@media screen and (max-width: 1100px)  {
    .sidebar-panel-links { display: none; }
}

/* Narrow screens:
 *
 */
@media screen and (max-width: 550px)  {
    .sidebar-panel-sections { display: none; }
}

/* Not-narrow screens:
 *
 */
@media screen and (min-width: 551px)  {
}


/* Wide (Not-slightly-narrow) screens:
 *
 * Stop the about text from filling the full page width,
 * pushing the sidebars to the bottom. */
@media screen and (min-width: 1100px)  {
    /* TODO: Find some way to avoid this arbitrary value,
     * which has to be just enough to show the content,
     * but not so much that the empty extra width will
     * push the sidebars down on typical screen widths.
     */
    .content-panel{ width: 500px }
}



/** Screens with less height: */
@media screen and (max-height: 600px) {
    /* TODO: Find some way to do this by just changing one variable instead.. */

    .menu-panel {
        margin-top: 0.3rem; /* between the banner ad and the menu-panel */
        padding-bottom: 0.3rem;
        padding-left: 0.3rem;

    }

    .menu-title {
        margin-top: 0.3rem;
        margin-right: 0.3rem;
    }

    .menu-others-panel {
        margin-top: 0.3rem;
        margin-right: 0.3rem;
    }

    .content-panel {
        margin: 0.3rem;
    }

    .sidebar-panel-sections {
        margin: 0.3rem;
    }

    .sidebar-panel-links {
        margin: 0.3rem;
    }

    .quiz-panel {
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
}

/* Screens with more height */
@media screen and (min-height: 601px)  {
    /* TODO: Find some way to do this by justing changing one variable instead.. */

    .menu-panel {
        margin-top: 1rem; /* between the banner ad and the menu-panel */
        padding-bottom: 1rem;
        padding-left: 1rem;
    }

    .menu-title {
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .menu-others-panel {
        margin-top: 1rem;
        margin-right: 1rem;
    }

    .content-panel {
        margin: 1rem;
    }

    .sidebar-panel-sections {
        margin: 1rem;
    }

    .sidebar-panel-links {
        margin: 1rem;
    }

    .quiz-panel {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    /* The text would be too big with this even for a normal laptop screen:
    body {
        font-size: medium !important;
    }

    .gwt-Button {
        font-size: medium !important;
    }
    */
}


body {
    /* Remove the clean.css margin around the whole page.
     * We need the !important to override the body style in clean.css,
     * for some reason.
     */
    margin: 0 !important;

    background-color: #F4F4F9 !important;
}

/* This lets a parent <div> be as high as its children.
 * See http://nicolasgallagher.com/micro-clearfix-hack/
 */
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.sidebar-panel-links {
    /* See media query:
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1em;
    margin-bottom: 1em;
    */

    float: right;

    /* TODO: Avoid this somehow? */
    width: 330px; /* To avoid any text from making it too wide. Same as for sidebar-panel-userhistorysections. */
}

/* TODO: Make this not apply to a h2 inside sub-divs? */
.sidebar-panel-links h2:first-child {
    margin-top: 0;
}

.recommended-reading {
    float: left;
    clear: both;
}

.recommended-reading ul {
    list-style-type: none;
    padding: 0;
}

.recommended-reading li {
    margin-bottom: 0.5em;
}

/* Contains content-panel
   and sometimes contains a sidebar-panel-userhistorysections. */
.parent-content-panel {
    float: left;
}

.content-panel {
    float: left;

    /* same as for menu-title.
     * We use less space, trying to fit into mobile screens.
     */
    /* See media query:
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    */
}

/* TODO: Make this not apply to a h2 inside sub-divs? */
.content-panel h2:first-child {
    margin-top: 0;
}

/* Show the main description in larger text. */
.home-panel p {
    font-size: medium;
}

.choices-panel {
    margin-top: 1em;
    margin-bottom: 1em;
}

.about-link {
    float: right;
    clear: both;
    color: #2F4550;
}

.username-label {
    margin-left: 1em;
}

.menu-panel {
    background-color: #B6B2DD;
    clear: both;

    /** We give left and bottom padding to the parent div,
     * and top-and-right margins to the child divs,
     * so that the space between them is never double.
     * Note that margins don't collapse on floated divs.
     */
    /* See media query:
    padding-left: 1rem;
    padding-bottom: 1rem;
    */
}

.menu-panel a:link {
  color: #2F4550;
}

.menu-panel a:visited {
  color: #2F4550;
}

.menu-title {
    /* See media query:
    margin-top: 1rem;
    margin-right: 1rem;
    */

    display: inline-block; /* Don't stretch the empty api of the div across the whole screen. */
    font-weight: 900;
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;

    color: #2F4550;
    background-color: #B6B2DD;

    /* TODO: Why doesn't any of this work to make the a text white, insead of menu-title?
    color: white;
    background-color: #B6B2DD;
    */
}

a.menu-title {
    color: #2F4550;
}

/* TODO: Why doesn't any of this work to make the a text white, insead of menu-title?
.menu-title.gwt-Label {
margin-top: 0.2em;
margin-bottom: 0.2em;
}


.menu-title.a, a:visited {
color: white;
background-color: #B6B2DD;
}

.menu-title.a:visited {
color: white;
background-color: #B6B2DD;
}
*/

.menu-others-panel {
    /* See media query:
    margin-top: 1rem;
    margin-right: 1rem;
     */
    display: inline-block; /* Don't stretch the empty api of the div across the whole screen. */
    float: right;
}

.button-answer-questions {
    /* Generic button style */
    margin: 0;
    padding: 5px 7px;
    text-decoration: none;

    margin-left: 1em;
    background: #B6B2DD;
    color: #2F4550;
    font-family: 'Lato', sans-serif;
}

a.button-answer-questions:visited {
    color: #2F4550;
}

a.button-answer-questions:link {
    color: #2F4550;
}

.button-history {
    /* Generic button style */
    margin: 0;
    padding: 5px 7px;
    text-decoration: none;

    margin-left: 1em;
    background: #B6B2DD;
    color: #2F4550;
    font-family: 'Lato', sans-serif;
}

a.button-history:visited {
    color: #2F4550;
}

a.button-history:link {
    color: #2F4550;
}

.dialogMiddleCenterInner.dialogContent {
    margin: 1em;
}

.reset-sections-confirm-dialog-buttons-panel {

}

.reset-sections-confirm-dialog-ok-button {
    background: red;
    font-weight: bold;
    float: right;
}

.reset-sections-confirm-dialog-cancel-button {
    font-weight: bold;
    float: right;
    margin-right: 1em;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #2F4550;
}

h1 * {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #2F4550;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #2F4550;
}

h2 * {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #2F4550;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #2F4550;
}

h3 * {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #2F4550;
}

h4 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #2F4550;
}

h4 * {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #2F4550;
}

* {
    font-family: 'Merriweather', serif;;
}

.page-title-label {

}

.page-secondary-title-label {

}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.result-label {
    font-weight: bold;
}

.note-label {
    padding-top: 0.6rem;
}

.video-anchor {
    padding-top: 0.6rem;
}

.code-anchor {
    padding-top: 0.6rem;
}

.question-radio-button {
    float: left;
    clear: left;
}

.question-radio-button-correct {
    font-weight: bold;
    font-size: larger;
}

.question-radio-button-wrong {
    text-decoration: line-through;

    animation-name: shake;
    animation-duration: 1s;
}

.choices-panel .question-radio-button {
    margin-top: 1em;
}

.choices-panel .question-radio-button:first-child {
    margin-top: 0;
}

/* Make sure that the start of the second row of the radio button's' label aligns with the first row,
 * instead of being underneath the radio button itself.
 */
.gwt-RadioButton input {
    float: left;
}

.gwt-RadioButton label {
    margin-left: 2em;
    display: block;
    text-align: left;

    /** Don't do this because it means 100% of the parent <span>,
     * but that also contains an <input> radio button circle at the left,
     * so this makes the text so wide that it can be partly off the screen.
     */
    /* width: 100%; */
}

.question-answer-textbox {
    margin-right: 1em;
    font-size: medium;
}

.question-answer-textbox {
    font-size: medium;
}

.user-status-answers-panel {

}

.next-question-section-title {
    /* Otherwise, combo boxes with long choices
     * (long <option> entries in <select> tags in the HTML)
     * cause the combo box to be wider than the div,
     * up to the right edge of the screen, regardless of any margin or padding.
     */
    width: 100%
}

.next-question-section-title-label {
    margin-right: 1em;
}

.show-from-panel {
    /* Otherewise there is a top margin. */
    margin-top: 0;
}

.user-status-answers-panel h3 {
    font-family: 'Lato', sans-serif;
    margin-top: 1.5em;
}

.user-status-answers-panel h3:first-child {
    margin-top: 0;
}

.next-question-button {
    background: #B6B2DD;
    color: #2F4550;
    font-family: 'Lato', sans-serif;
}

.next-question-button:hover {
    border-color: #2F4550;
}

.show-answer-button {
    background: #B6B2DD;
    color: #2F4550;
    font-family: 'Lato', sans-serif;
}

.show-answer-button:hover {
    border-color: #2F4550;
}

.question-submit-button {
    background: #B6B2DD;
    color: #2F4550;
    font-family: 'Lato', sans-serif;
}

.question-submit-button:hover {
    border-color: #2F4550;
}

.server-error-label {
    font-weight: bold;
    font-size: larger;
    color: red;
}

/* TODO: Make this not apply to a h2 inside sub-divs? */
.quiz-panel h2:first-child {
    margin-top: 0;
}

.quiz-panel h3:first-child {
    margin-top: 0;
}

.quiz-panel h4:first-child {
    margin-top: 0;
}

.quiz-section {

}

.quiz-section h3 a:link {
    color: #0066cc;
}

.quiz-section h3 a:visited {

    color: #0066cc;
}

.quiz-question-answer {
    margin-bottom: 1em;
}

.quiz-question-answer  p {
    margin-top: 0;
    margin-bottom: 0.3em;
}

.quiz-question-title {
    font-weight: bold;
    margin-right: 0.5em; /* TODO: RTL */
}

.quiz-question p {
    margin-bottom: 0;
}

.quiz-answer-title {
    font-weight: bold;
    margin-right: 0.5em; /* TODO: RTL */
}

.quiz-note-title {
    font-weight: bold;
    font-size: 80%;
    margin-right: 0.5em; /* TODO: RTL */
}

.quiz-answer p {
    margin-bottom: 0;
}

.quiz-note {
    font-size: 80%;
}

.home-button-answer-questions {
    /* Generic button style: */
    margin: 0;
    padding: 5px 7px;
    text-decoration: none;

    background: #B6B2DD;
    color: #2F4550;
    font-family: 'Lato', sans-serif;
}

a.home-button-answer-questions:visited {
    color: #2F4550;
}

a.home-button-answer-questions:link {
    color: #2F4550;
}

.user-history-button-reset-sections {
    margin: 0;
    padding: 5px 7px;
    text-decoration: none;

    background: #B6B2DD;
    color: #2F4550;
    font-family: 'Lato', sans-serif;
    margin-bottom: 1em;
}

a.user-history-button-reset:visited {
    color: #2F4550;
}

